
    <h3>Bună, din nou!</h3>

    <p>În urma selectărilor tale ai un total de <strong>50 lei</strong></p>
    <p>Completează datele pentru plată: </p>
    <form class="plata">
        <label for="fnume">Nume: </label>
        <input type="text" id="fnume" name="fnume"><br>
        <label for="fprenume">Prenume: </label>
        <input type="text" id="fprenume" name="fprenume"><br>
        <label for="fmail">Email: </label>
        <input type="text" id="femail" name="femail"><br>
        <br>
        <input type="submit" value="Trimite" onclick="return trimite()">
    </form>
