<p>Vrei să ne găsești mai ușor pentru a ne comunica anumite nemulțumiri în legătură cu produsele oferite, atunci ne găsești la adresa de email:</p>

<h3>dianabuliga@gmail.com</h3>

<p><br><br> Sau la numărul de telefon: <br></p>

<h3>0712345678</h3>

<p><br><br> Pentru a ne face o vizită la sediu, ne găsești la: <br></p>
<h3>Jud Iași, Iași <br>Strada Tătărescu, nr 3, bloc B2, Scara A, la parter</h3>

<div class="map">
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Iasi,%20&t=&z=13&ie=UTF8&iwloc=&output=embed" ></iframe>
        <style></style>
</div>