<h1>Bun venit!</h1>

<p>Acest site este dedicat iubitorilor de fotografie. <br>
    <br>
    <br>
    <div class="camera">
        <img src="pictures/camera.jpg">
    </div>
    <br>
    <br>
    
    Dacă ai nevoie de imagini sau filtre pentru editare de imagini, atunci ești în locul potrivit. Vei găsi aici o multitudine de imagini din care să o alegi pe cea potrivită. Îți punem la dispoziție colecții sau fișiere independente, de care tu, dragă utilizatorule, ai nevoie sau ești în căutare. 
</p>