<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html>
    <head>       
        <link rel="stylesheet"  href="css/style.css" type="text/css">
        <script type="text/javascript" src="/js/function.js"></script>
    </head>
    <main>
        <div class="header">
            <img src="pictures/pw_LOGO.png" height="140">
            <br><br>
            <input type="text" id="searchBar" onkeyup="search()" placeholder="Search..">
            
            <a href="/login">Login</a>
            <a href='/bag'>Cumpărături</a>
            <br><br><br><br>
        </div>
    
        <div class="navbar" >
            
            <a href='/home'>Acasă</a>
            <a href='/shop'>Magazin</a>
            <a href='/contact'>Contact</a>           
        </div>
        
        <%- body %>
        <br> <br><br> <br><br>
        <div class="up">
            
            <button type="button" id="top" onclick="topFunction()"> UP </button>
        </div>
        <br><br>
        <div id="footer"> <hr>
            <strong>Student:</strong> Buliga Diana-Marinela &nbsp;
            <strong>Grupa:</strong> 1306B<br>
            &copy2020 R.P 
        </div>
    </main>
</html>