<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html>
    <head>
        
        <link rel="stylesheet"  href="css/style.css" type="text/css">
   
    </head>
    <main>
        <div class="header">
            <img src="pictures/pw_LOGO.png" height="147">
            <h1>photoFree</h1>
        </div>
    
        <div class="navbar" >
            <a href='/home'>Acasă</a>
            <a href='/bag'>Cumpărături</a>
            <a href='/contact'>Contact</a>
            <a href="/login">Login</a>
        </div>
        
        <%- body %>
    
        <div id="footer"> <hr>
            <strong>Student:</strong> Buliga Diana-Marinela &nbsp;
            <strong>Grupa:</strong> 1306B<br>
            &copy2020 R.P 
        </div>
    </main>
</html>