<h1>Autentificare</h1>

<div clas="loginForm">
    <form name="login">
        <label for="user">User: </label>
        <input type="text" id="fuser" name="user"><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Autentificare">
    </form>
</div>