<div class="selectType" >
            
    <a href="#aesthetic">Aesthetic</a>
    <a href="#boo">Boo</a>
</div>

<div class="aestetic">
    <h3 id="aesthetic">Astronaut</h3>
    <img src="pictures/aestetic_1.jpg" height="350">
    <img src="pictures/aestetic_2.jpg" height="350">
    <img src="pictures/aestetic_7.jpg" height="350">
    <img src="pictures/aestetic_3.jpg" height="350">
    <img src="pictures/aestetic_4.jpg" height="350">
    <img src="pictures/aestetic_5.jpg" height="350">
    <img src="pictures/aestetic_6.jpg" height="350">

</div>

<div class="booho">
    <h3 id="boo">Boo!</h3>
    <img src="pictures/boo_!.jpg" height="350">
    <img src="pictures/boo_2.jpg" height="350">
    <img src="pictures/boo_3.jpg" height="350">
    <img src="pictures/boo_4.jpg" height="350">
    <img src="pictures/boo_5.jpg" height="350">
</div>
