<div class="selectType" >
            
    <a href="#aesthetic">Astronaut</a>
    <a href="#boo">Boo</a>
</div>

<form action="shopping" method="get">
<div class="aestetic_images" name="aesthetic">
    <h3 id="aesthetic_header">Astronaut</h3>
        <ul>
            <li name="images">
                <img src="pictures/aestetic_1.jpg" height="350">
                <label name="Aesthetic_1">Aesthetic_1</label>  
                <input type="submit" value="Pune în coș">
            </li>
            
            <li name="images">
                <img src="pictures/aestetic_2.jpg" height="350">
                <label>Aesthetic_2</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/aestetic_7.jpg" height="350">
                <label>Aesthetic_7</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/aestetic_3.jpg" height="350">
                <label>Aesthetic_3</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/aestetic_4.jpg" height="350">
                <label>Aesthetic_4</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/aestetic_5.jpg" height="350">
                <label>Aesthetic_5</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/aestetic_6.jpg" height="350">
                <label>Aesthetic_6</label> 
                <input type="submit" value="Pune în coș">
            </li>

            <h3 id="boo">Boo!</h3>
            <li name="images">
                <img src="pictures/boo_!.jpg" height="350">
                <label >Boo_1</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/boo_2.jpg" height="350">
                <label>Boo_2</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/boo_3.jpg" height="350">
                <label>Boo_3</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/boo_4.jpg" height="350">
                <label>Boo_4</label> 
                <input type="submit" value="Pune în coș">
            </li>
            <li name="images">
                <img src="pictures/boo_5.jpg" height="350">
                <label>Boo_5</label> 
                <input type="submit" value="Pune în coș">
            </li>
        </ul>
</div>
</form>
